<div class="recipe">
  <div class="content clearfix">
    <div class="main-photo">
      <% if recipe.image? %>
        <div><%= image_tag(recipe.image.url(:medium),:witdh => 300) %></div>
      <% end %>
    </div>
    <div class="description clearfix">
      <h2><%= recipe.name %></h2>
        <p><%= recipe.description %></p>
        <ul>
          <% recipe.ingredients.each do |i| %>
            <li><%= i.name %> <%= i.quantity %></li>
          <% end %>  
        </ul>
        <%= render :partial => "users/author", :object => recipe.author %>
        <%= time_ago_in_words(recipe.created_at) %> ago<br />
        <%= render :partial => "shared/like" , :locals => { :item => recipe }%>
      </div>
  </div>
  <div class="instructions clearfix">
    <%= sanitize to_html(recipe.instructions) %>
  </div>
  <div class="comments clearfix">
    <%= render :partial => "comments/comment", :collection => recipe.comments %>
    <%= form_for Comment.new(:commenter => current_user,:recipe => recipe), :url => recipe_comments_path(recipe) do |f| %>
      <%= f.text_field :text %>
      <%= f.submit "post "%>
    <% end %>
  </div>
</div>

