<div class="recipe">
  <div class="content">
    <div class="main-photo">
      <% if recipe.image? %>
        <div><%= image_tag(recipe.image.url(:medium),:witdh => 300) %></div>
      <% end %>
    </div>
    <div class="description clearfix">
      <h2><%= recipe.name %></h2>
        <p><%= recipe.description %></p>
        <ul>
          <% recipe.ingredients.each do |i| %>
            <li><%= i.name %> <%= i.quantity %></li>
          <% end %>  
        </ul>
        <%= render :partial => "users/author", :object => recipe.author %>
        <%= time_ago_in_words(recipe.created_at) %>ago<br />
      </div>
    <div class="clearfix"/>
    </div>
    <div class="instructions clearfix">
      <%= raw to_html(recipe.instructions) %>
    </div>
  </div>

