<%= render "menus/menu" %>

<div class="recipes">
  <%= render partial: "shared/action_bar", locals: { action: :search} %>
  <div>
    <%= form_tag(search_recipes_path, :method => :get) do %>
      <%= text_field_tag(:q,params[:q]) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <%= render :partial => "feed", :collection => @recipes %>

  <%= paginate @recipes %>
  <script>
    $(function(){
      var app = new Miimenu.Routers.AppRouter();
      app.menuModel.reset(<%= raw(current_user.to_make.to_json) %>)
    });
  </script>
</div>
