<%= render "shared/action_bar" %>

<%= render "menus/menu" %>

<div class="recipes">

  <div>
    <%= form_tag(search_recipes_path, :method => :get) do %>
      <%= text_field_tag(:q,params[:q]) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <%= render :partial => "feed", :collection => @recipes %>

  <%= paginate @recipes %>
</div>
