<div class="content">
  <div class="photo">
    <% if(thumb_image != "/images/thunb/missing.png") { %>
      <img width="50" src="<%= thumb_image %>" alt="<%= name %>"/>
    <% } %>
  </div>
  <h5><a href="/recipes/<%= id %>"><%= name %></a></h5>
  <p>
    <%= $.digest(description,60,"...") %>
  </p>
  <button class="delete-button">delete</button>
</div>
