<div class="main-photo">
  <a href="recipes/<%= id %>" title="<%= name %>">
    <img src="<%= medium_image %>" width="200" height="160"/></a>
</div>

<h3>
  <a href="recipes/<%= id %>" title="<%= name %>">
    <%= name %>
  </a>
</h3>
<p><%= description %></p>
<div>
  <% _.each(ingredients,function(i){ %>
    <span><%= i.name %></span> ,
  <% }); %>  
</div>
<div class="user-view">
<% if(author.image_url) { %>
  <img src="<%= author.image_url %>" class="avatar"/>
<% }else{ %>
  <img src="<%= author.gravatar_url %>" class="avatar"/>
<% } %>
<a href="/users/<%= author_id%>"><%= author.name %></a></div>
<div><abbr class="timeago" title="<%= created_at %>"></abbr></div>
<div><span class="like-count"><%= likes %></span> likes</div>
<div class="button_to">
  <% if(!is_liked){ %>
    <button class="like-button">like</button>
  <% }else {%>
    <span>you like this</span>
  <% } %>
  <br />
  <% if(!is_cooking) { %>
    <button class="cook-button">cook</button>
  <% }else {%>
    <span>you are cooking this</span>
  <% } %>
</div>
